<html>
<head>
  <title> Orders </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
#header {
  margin: 1%;
}
.items{
  padding: 1%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 150%;
  z-index: 3
}
</style>
</head>
<body>
<div id="header" class="d-flex flex-row justify-content-center">
  <h1> Order # {{ order }} - {{ user }} </h1>
</div>
<div class="container">
  <ul>
  {% for item in order_items %}
      <li class="items">{{ item }}</li>
  {% endfor %}
</ul>
</div>
<footer class="d-flex flex-row justify-content-center" style="position: fixed; z-index: 6; margin-bottom: 1%; bottom: 0; width: 100%;">
  <a href="{%url 'view_orders' %}" style="font-size: 150%" class="btn btn-secondary">Back to Orders</a>
</footer>
</body>
</html>
